

/* Buttons */
.profile__image button{
    background-color: #fff;
    background-image: url("../../images/Edit.png");
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20%;
    width: 4em;
    height: 3em;
}

.profile__image button:hover{
    background-color: rgb(165, 165, 170);
    cursor: pointer;
}

/* Image */
.profile__image img{
    width: 12em;
    background-color: #e0e0e0;
    border-radius: 50%;
}

.user__profile>div{
    margin: 1em auto;
    width: fit-content;
}

.user__reviews>div, .user__likes>div{
    display: flex;
    justify-content: space-evenly;
}