.profile-form__container{
    width: 30em;
    height: fit-content;
    padding: 1em;
    position: fixed;
    display: block;
    background-color: #000;
    color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
    border-radius: 25px;
}

.profile__form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
}

.profile__form div {
    /* text-align: center; */
}

/* .profile__form input{
    width: 80%;
    margin: 0 auto;
} */

.profile__input *{
    display: block;
    width: 30em;
    margin: 0 auto;
}

.profile__input textarea {
    width: 30em;
    height: 4em;
}

/* Buttons */
.profile__form--close{
    background: none;
    border: none;
    width: 2em;
    height: 2em;
    font-size: large;
    float: right;
    color: #fff;
    font-weight: bolder;
}