.frontpage__banner{
    background-image: url("../../images/Coffee.png");
    background-size: cover;
    background-color:#fff;
    height: 50em;
}

/* .frontpage__text{
    position: absolute;
    top: 7em;
    left: 3em;
    font-size: 2em;
} */
.frontpage__text{
    padding: 1em;
    text-align: center;
    font-size: 5em;
    color: #fff;
}

.frontpage__images{
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
}

.frontpage__images img{
    width: 8em;
    margin: 1em 4em;
}

.toast__image{
    transform: rotate(20deg);
}
.roast__image{
    transform: rotate(-30deg);
}

footer{
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: space-evenly;
    height: 10vh;
}

.search__form{
    display: flex;
}

.search__form>div{
    margin: auto .5em;
}

.search__form input{
    width: 25em;
    height: 3em;
    border-radius: 2em;
    padding: 0 1em;
}
.search__wrapper{
    display: flex;
    justify-content: space-evenly;
    width: 50vw;
    background-color: rgba(255, 255, 255, .5);
    margin: 0 auto;
    font-size: 2.5em;
    border-radius: 50px;
}

.search__button{
    background: url(../../images/search_icon.001.jpeg);
    background-size: 2em;
    background-repeat: no-repeat;
    background-color: rgb(175, 86, 37);
    background-position: center;
    border-radius: 50%;
    color: #ffffff;
    font-size: 1em;
    font-family: sans-serif;
    width: 1.5em;
    height: 1.5em;
}